*{
    margin: 0;
    border: 0;
    padding: 0;
}
html{
    font-size:62.5%; /* porcentagem utilizada pelo navegador*/
}
header{
    background-color: rgb(191, 0, 0);
    color: #fff;
    font-family: arial;
    width: 100%;    
    position: fixed;   
    padding-top: 10px; 
    text-shadow: 2px 2px 3px #000;

}
h1{
    color: rgb(246, 83, 83);
    font-size: 3rem;
    font-family: Arial;
    margin: 0;
    padding: 5px;
    padding-bottom: 5px;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}
h3{
    font-size: 20px;
    font-family: Arial;
    margin: 0;
    padding: 5px;
}
h4{
    font-size: 10px;
    font-family: Arial;
    margin: 0;
    padding: 5px;
    padding-bottom: 5px;
}
body{
    background-color: rgba(255,255,224);
}
.container{
    display:block;
    background-color: rgb(255, 228, 153);
    width: 95%;
    box-shadow: 2px 2px rgb(255, 237, 97);
    margin: 0 auto;
   /* max-width: 95%;*/
   max-width: 90%;
   max-height: 90%;
   min-width: 0;
   min-height: 0;    
   margin-top: 3%;                                                                                                                                                                                                                                                                                                                                                           
}
footer{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    background-color: rgba(191, 0, 0);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 2px 2px 3px #000;

}
p{
    font-family: Arial;
    text-align: justify;
    padding: 10px;
    font-size: 1.6rem;
}
h3{
    font-family: Arial;
    text-align: center;
    padding-top: 10px;
    font-size: 3rem;
    color: #fff;
    text-shadow: 2px 2px 3px #000;
}
h2{
    color: rgb(182, 57, 57);
    font-family: Arial;
    text-align: center;
    padding-top: 10px;
    font-size: 1.9rem;
    text-shadow: 1px 1px 1px #000;
}

h5{
    font-family: Arial;
    text-align: center;
    padding: 1px;
    font-size: 1.9rem;
    color: #fff;
}

.texto-footer{
    font-family: Arial;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.6rem;
}
.compre{
    background-color: rgba(255, 98, 0,0.9);
    width: 18rem;
    height: 12rem;
    right: 0;
    position: fixed;
    text-align: center;
    margin-top: 3%;
    z-index: 1;
    border-radius: 30px;
    border: solid #fff;
    padding-top:10px ;
    padding-bottom: 10px;
    
}
button{
    width: 70%;
    font-family: Arial;
    text-align: center;
    padding: 5px;
    font-size: 2rem;
    background-color: rgb(79, 215, 55);
    color: #fff;
    border: solid;
    border-radius: 20px;
    
}

#grid-container{
    margin-top: 5px;
    background-color: rgb(255,99,71);
    padding: 5px;
  
}

.grid{
    display: grid;
  /*  grid-template-columns: 1fr 1fr;*/
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 3px;
    max-width: 1200px;
    margin: 0 auto;
}

.grid div{
    background-color:#fff;
    font-family: arial;
    text-align: center;
    font-size: 1.6rem;
    padding:2px;
}
#formulario{
    background-color: rgba(32, 0, 158, 0.6);
}
.formulario-contato{
    font-family: arial;
    font-size: 1.8rem;
    padding: 10px;
    text-align: left;
    margin-left: 5%;
    font-weight: bolder;
}

input{
    font-family: sans-serif;
    font-size: 1.7rem;
    padding: 5px;            
}

.dados-formulario{
    width: 60% ;
}

nav{
    text-align: right;
    margin-top: 10px;
    font-family: arial;
    font-size: 1.6rem;
    margin-right: 2%;
    word-spacing: 20px;
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: all 400ms ease-in-out;
}

a:hover{
    color: rgba(255, 255, 0, 1.0);
}

.imagem-grid{
    width: 30rem;
    height: 20rem;
    border-radius: 20px;
    transition: 300ms ease-in-out;
}

img:hover{
    transform: scale(1.2);
}

@media(min-width:280px ) and (max-width:450px)
{
    .compre{
        margin-top: 12%;
    }
}